<%- include('../partials/header',{hojaDeEstilo:"/css/stylesBookings.css"}) %>
<div class="hero nc-timbre-tris" id="reserva-timbre">
    <div class="container">
        <div class="main-heading">
            <h1 class="title-res nc-titulo-pagina">Muchas Gracias</h1>
            <div class="nc-confirmation-block">
                <div class="nc-booking-code-block">
                    <h2 class="nc-booking-message">Recibirá una notificación cuando su pago sea confirmado</h2>
                </div>
            </div>
        </div>
    </div>
</div>
  <section class="booking">
  </section>
</main>
<%- include('../partials/footer') %>