<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RESERVAS HOSTERIA</title>
        <link rel="stylesheet" href="/css/stylesBasic.css">
        <script src="https://kit.fontawesome.com/5b9f12c43f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <form action="/consultaReserva" method="GET">
            <div>
                <label>Desde</label>
                <input type="date" name="desde" value="2025-09-30">
            </div>
            <div>
                <label>Hasta</label>
                <input type="date" name="hasta" value="2025-10-10">
            </div>
            <div>
                <label>Personas</label>
                <input type="text" name="personas" value="4">
            </div>
            <div>
                <label>Habitaciones</label>
                <input type="text" name="habitaciones" value="3">
            </div>
            <div>
                <input type="submit" value="CONSULTAR">
            </div>
        </form>
    </body>
    <div>
        <label>SELECCIONAR HABITACIONES</label>
        <% habitaciones.forEach(habitacion =>{ %>
            <div>
                <label><%= habitacion.descripcion %></label>
                <div>
                    <% for(let i = 1 ; i <= habitacion.cantidad ; i ++){ %>
                        <% if(i <= qHab){ %>
                            <label><%= i %></label>
                            <input type="radio">
                        <% } %>
                    <% } %>
                </div>
            </div>    
        <% }) %>
    </div>


</html>