<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hosteria Solar de la Costa</title>
    <!--Font awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="https://www.solardelacosta.com/index.html" class="logo">
        <img src="/images/logo-4.png">
      </a>
      <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/index.html" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/reservas.html" class="nav-link">RESERVAS</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/habitaciones.html" class="nav-link">HABITACIONES</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/madryn.html" class="nav-link">MADRYN</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/index.html#contactos" class="nav-link">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/reservas-en.html" class="nav-link"><img src="images/uk-en.jpg" alt="english version"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="hero" id="reserva-timbre">
    <div class="container">
      <div class="main-heading">
        <h1 class="title-res">Reservá tu habitación</h1>
        <h2 class="subtitle-res">Contactanos por teléfono, whatsapp o email. El motor de reservas se encuentra fuera de servicio</h2>
      </div>
      <a href="index.html#contactos" class="btn btn-gradient">Contacto
        <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
      </a>
    </div>
  </div>

  <section class="booking">
    <div class="container">
      <form action="" class="form">
        <div class="input-group">
          <label for="check-in" class="input-label">Entrada</label>
          <input type="date" class="input" id="check-in">
        </div>
        <div class="input-group">
          <label for="check-out" class="input-label">Salida</label>
          <input type="date" class="input" id="check-out">
        </div>
        <div class="input-group">
          <label for="adults" class="input-label">Adultos</label>
          <select class="options" id="adults">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
          <div class="input-group">
            <label for="Menores" class="input-label">Menores</label>
            <select class="options" id="Menores">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div><br>

          <!-- <button type="submit" class="btn form-btn btn-purple"> Buscar
            <span class="dots"><i class="fas fa-ellipsis-h"></i> </span>
          </button> -->
		  
		  <a href="https://www.todoalojamiento.com/portal/es?idHotel=1003&forzarLimpiar=true" class="btn form-btn btn-purple">Buscar
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
          </a>

      </form>
   </div>
  </section>

  


</main>

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-content-brand">
        <a href="#" class="logo">
          <img class="logo-image" src="./images/logo-foot.png" alt="">
        </a>
        <div class="paragraph">
          Somos un hotel moderno nacido en 2001 atendido por sus propios dueños y situado en el mejor lugar de Puerto Madryn, frente al mar y a solo 1.5 km del centro de la ciudad<br><br>
          Boulevard Brown 2057 - Puerto Madryn, Chubut, Argentina<br>
		  TEL: (0280) 4458822<br>
          TEL/WHATSAPP: (0280) 4208042<br>
			WHATSAPP: +54 9 (0280) 4200010<br>
          <p style="font-weight:bold"><a href="mailto:solar@solardelacosta.com">solar@solardelacosta.com</a></p>
        </div>
      </div>
      <div class="social-media-wrap">
        <h4 class="footer-heading" style="margin-left:2rem">Seguinos!

          <div class="social-media">
            <a href="https://twitter.com/de_hosteria" class="sm-link" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/solardelacostapm" class="sm-link" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/solardelacosta/" class="sm-link" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tripadvisor.com.ar/Hotel_Review-g312832-d1051527-Reviews-Hosteria_Solar_de_la_Costa-Puerto_Madryn_Province_of_Chubut_Patagonia.html" class="sm-link" target="_blank"><i class="fab fa-tripadvisor"></i></a>
			<a href="https://wa.me/5492804200010" class="sm-link" target="_blank"><i class="fab fa-whatsapp"></i></a>  
          </div>
        </h4>
      </div>
    </div>
  </div>
</footer>

<div class="ucs">Copyright 2020 - Lucas Calviño - </div>



  <script src="js/main.js"></script>
</body>
</html>