/* Clases Existentes del Archivo de Css de Lucas */
.main-heading{
    display:flex;
    flex-wrap: wrap;
}

.main-heading .title-res{
    width: 100%;
}

#reserva-timbre{
    height: 85vh;
}

/**/

.nc-timbre-bis{
    height: 120vh !important;
}

.nc-timbre-tris{
    height: 100% !important;
}

.nc-error-block{
    margin-top: 5px;
    font-size: 12px;
    color: rgb(248, 245, 53);
}

.nc-input-with-error{
    border: 3px solid red;
    background-color: rgb(255, 226, 226);
}

.nc-booking-block{
    width: 60%;
    margin: 20px auto
}

.nc-button-block{
    display:flex;
    position:relative;
    margin-top: 20px;
}

.nc-button-block i{
    position:absolute;
    left:11px;
    top:14px
}

.nc-btn-extra{
    font-size: 24px;
    line-height: 32px;
}

.nc-form{
    width: 90%;
    margin: auto
}

.nc-form .nc-subtitle{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
}

.nc-form .nc-rooms-list{
    width: 100%;
}

.nc-form .nc-rooms-list .nc-room-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-quantity-block{
    width:15%;
    margin-right: 5px;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-q{
    width:100%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block{
    width:80%;
    display:flex;
    flex-wrap: wrap;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .nc-room-type{
    width:100%
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .nc-room-price{
    font-size: 20px;
    line-height: 28px;
    width: 60%;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .image-link{
    color: rgb(252, 176, 64);
    text-decoration: underline;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .image-link i{
    margin-right: 5px;
    font-size: 20px;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container{
    position: relative;
    display: block;
    width: 30%;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container .hover-image {
    display: none;
    position: absolute;
    top: -160px; /* Position the image above the link */
    left: -100px; /* Center the image horizontally */
    transform: translateX(-50%); /* Fine-tune the horizontal centering */
    border: 2px solid #333;
    border-radius: 5px;
    z-index: 10;
    width: 300%;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container:hover .hover-image {
    display: block;
}


/* Estilos de la informacion de las habitaciones */

.nc-titulo-pagina{
    margin-top: 80px;
}

.nc-room-detail-block{
    display:flex;
    flex-wrap: wrap;
    margin:30px auto;
}

.nc-info-block{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin:10px auto
}

.nc-info-block .nc-room-number{
    font-size: 20px;
    line-height: 28px;
    color: rgb(252, 176, 64);
    width: 100%;
}   

.nc-info-block .nc-room-title{
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase; 
}

.nc-form .nc-room-detail-block .nc-info-block .nc-room-type{
    width:65%
}

.nc-form .nc-room-detail-block .nc-info-block .nc-room-q{
    width:15%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.nc-form .nc-room-detail-block .nc-info-block .nc-room-details{
    width:100%
}

.nc-info-block .nc-room-details .nc-room-people .nc-room-type{
    font-size: 24px;
    line-height: 32px;
}

.nc-info-block .nc-room-details .nc-room-people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

.nc-info-block .input-group{
    width: 100%;
}

.nc-info-block .input-group .input{
    width: 70%;
}

.nc-payment-link-block{
    width: 100%;
    color: #fff;
}

.nc-payment-link-block a{
    font-weight: bold;
    text-decoration: underline;
}

.nc-confirmation-block{
    margin: 10px auto 600px auto
}

.nc-confirmation-block .nc-booking-code-block{
    margin: 5px auto
}

.nc-confirmation-block .nc-booking-code-block .nc-booking-message{
    font-size: 24px;
    line-height: 32px;
}

.nc-confirmation-block .nc-booking-code-block .nc-booking-code{
    font-size: 52px;
    line-height: 60px;
    margin: 10px auto;
    color: rgb(252, 176, 64);
}

.nc-confirmation-block .nc-payment-block{
    margin: 20px auto;
    display:flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}

.nc-confirmation-block .nc-payment-block .nc-payment-message{
    font-size: 20px;
    line-height: 28px;
    margin: 5px auto;
    width: 100%;
}

.nc-confirmation-block .nc-payment-block .nc-bank-information{
    width:90%;
    margin: 20px auto;
    font-size: 22px;
    line-height: 30px;
}

.nc-confirmation-block .nc-payment-block .nc-bank-information .nc-bankinfo-info{
    font-weight: bold;
}

.nc-block{
    margin:auto
}


.nc-block form .nc-file-info-div{
    margin:20px auto;
    text-transform: uppercase;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nc-block form .nc-file-info-div .nc-file-info-label{ 
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.nc-block form .nc-file-info-div .nc-file-input{ 
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block form .nc-payment-button{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nc-comunication-block{ 
    width: 90%;
    margin: 30px auto;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 10px;
}

.nc-booking-info-block{
    display:flex;
    flex-wrap: wrap;
}

.nc-booking-info-block .nc-titulo-info{
    font-weight: bold;
    margin-right:10px;
    text-transform: uppercase;
}

.nc-booking-info-block .nc-booking-status-block{
    margin-top: 10px;
    margin-bottom: 20px;
}

.nc-booking-info-block .nc-booking-status-block .nc-booking-status-title{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
}

.nc-booking-info-block .nc-booking-status-block .nc-booking-status-explanation{
    font-size: 24px;
    line-height: 32px;
}

.nc-booking-info-block .nc-booking-info{
    width: 100%;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.nc-booking-info-block .nc-booking-info i{
    margin-right:10px;
}

.nc-booking-info-block .nc-payment-link-block{
    margin:20px 0px
}

.nc-confirmation-block .nc-booking-info-block .nc-regret-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nc-confirmation-block .nc-booking-info-block .nc-regret-block div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
}

.nc-confirmation-block .nc-booking-info-block .nc-regret-block div input{
    font-size: 18px;
    line-height: 26px;
}

.nc-confirmation-block .nc-booking-info-block .nc-regret-block div.nc-confirm-regret-block{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nc-confirmation-block .nc-booking-info-block .nc-regret-block div.nc-confirm-regret-block.mostrar{
    visibility: visible;
    opacity: 1;
}

.nc-error-container{
    width: 80%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 500px;
    font-size: 28px;
    line-height: 36px;
}

.nc-error-container a{
    font-weight: bold;
    text-decoration: underline;
}

.nc-login-form{
    margin-bottom: 200px;
}

.nc-remember-container{
    width: 50%;
    margin: auto;
}

footer .nc-admin-loggin-container{
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer .nc-admin-loggin-container a{
    display: flex;
    align-items: center;
}

footer .nc-admin-loggin-container a i{
    margin-right:5px ;
    font-size: 20px;
}

@media (min-width: 768px){
    .nc-titulo-pagina{
        margin-top: 100px;
        margin-bottom: 10px;
    }

    .nc-error-block{
        margin-top: 5px;
        font-size: 16px;
        color: rgb(248, 245, 53);
    }

    /* Busqueda de Disponibilidad */
    
    .nc-booking-block{
        width: 40%;
    }

    .nc-form{
        width: 65%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 20px;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-quantity-block{
        width:12%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block{
        width:85%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .nc-room-price{
        width: 75%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container{
        width: 20%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container .hover-image {
        transform: translateX(-75%); /* Fine-tune the horizontal centering */
        width: 600%;
    }

    /* Informacion Final */
    .nc-room-detail-block{
        margin:auto;
    }

    .nc-room-detail-block .nc-info-block .nc-room-number{
        font-size: 24px;
    }

    .nc-room-detail-block .nc-info-block .nc-room-title{
        font-size: 28px;
    }

    .nc-info-block .input-group{
        width: 100%;
    }

    .nc-info-block .input-group .input{
        width: 60%;
        margin:auto
    }

    /* Informar Seña y Buscar Reserva */
    .nc-block .nc-payment-form{
        width: 50%;
        margin: auto;
    }

    .nc-comunication-block{
        margin-bottom: 250px;
    }

    /* Estado Reserva */
    .nc-confirmation-block{
        width: 90%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 20px;
    }

    .nc-login-form{
       margin-bottom: 300px;
    }

}

@media (min-width: 992px){

    .nc-titulo-pagina{
        margin-bottom: 20px;
        font-size: 5rem;
    }

     /* Busqueda de Disponibilidad */
    .nc-booking-block{
        width: 30%;
    }

    .nc-booking-block .input-label{
        font-size:1.8rem
    }

    .nc-booking-block .input{
        font-size:2rem
    }

    .nc-form{
        width: 80%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-quantity-block{
        width:8%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-q{
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block{
        width:85%;
        font-size: 22px;
        line-height: 30px;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container{
        width: 20%;
        text-align: right;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container .hover-image {
        transform: translateX(-80%); /* Fine-tune the horizontal centering */
        width: 500%;
    }

    /* Informacion Final */
    .nc-room-detail-block .nc-info-block{
        margin:auto;
    }

    .nc-room-detail-block .nc-info-block .nc-room-number{
        font-size: 24px;
    }

    .nc-room-detail-block .nc-info-block .nc-room-title{
        font-size: 28px;
    }

    .nc-form .nc-room-detail-block .nc-info-block{
        margin: 10px auto;
    }

    .nc-form .nc-room-detail-block .nc-info-block .nc-room-details .nc-room-people .nc-room-q{
        width: 10%;
        text-align: center;
    }

    .nc-form .nc-guest-block .nc-subtitle{
        margin: 20px auto;
        font-size: 32px;
    }

    .nc-confirmation-block .nc-booking-info-block .nc-regret-block div input{
        font-size: 24px;
        line-height: 32px;
    }

    .nc-form .nc-guest-block .nc-info-block .input-group input{
        width: 40%;
    }

    .nc-login-form{
       margin-bottom: 400px;
    }

}

@media (min-width: 1200px){
    .nc-titulo-pagina{
        margin-bottom: 50px;
        font-size: 6rem;
    }

    .nc-booking-block{
        width: 30%;
    }

    .nc-form{
        width: 50%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-quantity-block{
        width:12%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block{
        width:80%;
    }

    .nc-form .nc-rooms-list .nc-room-block .nc-room-info-block .hover-container .hover-image {
        transform: translateX(-80%); /* Fine-tune the horizontal centering */
        width: 700%;
    }

    /* Informacion Final */
    .nc-final-information-form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        background-color:transparent
        
    }

    .nc-form .nc-room-detail-block{
        width: 55%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 20px;
        margin-top: 0px;
    }

    .nc-form .nc-guest-block{
        width: 40%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 20px;
    }

    .nc-form .nc-guest-block .nc-info-block .input-group .input{
        width: 90%;
        font-size: 1.7rem;
    }

    .nc-form .nc-guest-block .nc-info-block .input-group .input-label{
        width: 60%;
        font-size: 2rem;
    }

    .nc-final-information-form .nc-button-block{
        width: 30%;
    }

    .nc-final-information-form .nc-button-block i{
        left: 24px;
        top: 10px;
        font-size: 28px;
    }

    .nc-final-information-form .nc-button-block .nc-btn-extra{
        width: 100%;
        font-size: 32px;
        line-height: 40px;
    }

}