/* Clases Existentes del Archivo de Css de Lucas */
.main-heading{
    display:flex;
    flex-wrap: wrap;
}

.main-heading .title-res{
    width: 100%;
}

#reserva-timbre{
    height: 85vh;
}

/**/

.nc-timbre-bis{
    height: 120vh !important;
}

.nc-timbre-tris{
    height: 100% !important;
}

.nc-error-block{
    margin-top: 5px;
    font-size: 12px;
    color: rgb(248, 245, 53);
}

.nc-booking-block{
    width: 60%;
    margin: 20px auto
}

.nc-button-block{
    display:flex;
    position:relative;
    margin-top: 20px;
}

.nc-button-block i{
    position:absolute;
    left:11px;
    top:14px
}

.nc-btn-extra{
    font-size: 24px;
    line-height: 32px;
}

.nc-form{
    width: 90%;
    margin: auto
}

.nc-form .nc-subtitle{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
}

.nc-form .nc-rooms-list{
    width: 100%;
}

.nc-form .nc-rooms-list .nc-room-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-type{
    width:80%
}

.nc-form .nc-rooms-list .nc-room-block .nc-room-q{
    width:15%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

/* Estilos de la informacion de las habitaciones */

.nc-titulo-pagina{
    margin-top: 80px;
}

.nc-room-detail-block{
    display:flex;
    flex-wrap: wrap;
    margin:30px auto
}

.nc-info-block{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin:10px auto
}

.nc-info-block .nc-room-number{
    font-size: 20px;
    line-height: 28px;
    color: rgb(252, 176, 64);
}   

.nc-info-block .nc-room-title{
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase; 
}

.nc-form .nc-room-detail-block .nc-info-block .nc-room-type{
    width:65%
}

.nc-form .nc-room-detail-block .nc-info-block .nc-room-q{
    width:30%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.nc-info-block .nc-room-details .nc-room-people .nc-room-type{
    font-size: 24px;
    line-height: 32px;
}

.nc-info-block .nc-room-details .nc-room-people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}


@media (min-width: 680px){
    .nc-booking-block{
        width: 40%;
    }
}

@media (min-width: 900px){
    .nc-booking-block{
        width: 30%;
    }
}