#sector-admin{
  width: 100%;
  height: 100vh;
  background: url("../images/hero_background5.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  z-index: 0;
}

.main-heading{
    display:flex;
    flex-wrap: wrap;
}

.main-heading .title-res{
    width: 100%;
}

.main-heading .nc-back-container{
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.main-heading .nc-back-container a{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.main-heading .nc-back-container a i{
    margin-right: 5px;
}

.nc-block{
    margin:auto
}

.nc-timbre-tris{
    height: 100% !important;
}

.nc-button-block{
    display:flex;
    position:relative;
    margin-top: 20px;
}

.nc-button-block i{
    position:absolute;
    left:11px;
    top:14px
}

.nc-btn-extra{
    font-size: 24px;
    line-height: 32px;
    width: 100%;
}

.nc-titulo-pagina{
    margin-top: 80px;
}

.nc-pending-booking-msg{
    width: 80%;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    color: rgb(252, 176, 64);
    font-weight: bold;
}

footer .nc-admin-loggin-container{
    width: 80%;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer .nc-admin-loggin-container a{
    display: flex;
    align-items: center;
}

footer .nc-admin-loggin-container a i{
    margin-right:5px ;
    font-size: 20px;
}

/* Estilos Edicion Habitaciones */
.nc-block .room-edit-form{
    width: 100%;
    margin:20px auto;
    background-color: RGBA(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 15px;
}

.nc-block .room-edit-form .adm-roomtype-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-info h2{
    width: 100%;
    margin: 5px auto;
    font-size: 30px;
    line-height: 38px;
    color: rgb(252, 176, 64);
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-info label{
    font-size: 26px;
    line-height: 34px;
    margin-right: 5px;
    text-transform: uppercase;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-info input{
    width:30%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-info .nc-error-block{
    width:30%;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-info .nc-error-block .nc-error-message{
    display: block;
    width: 90%;
    font-size: 12px;
    margin-left: 10px;;
    color: rgb(248, 245, 53);
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-rooms{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-rooms .adm-room-info{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-rooms .adm-room-info label{
    width:10%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-rooms .adm-room-info select{
    width:35%;
    font-size: 14px;
    line-height: 22px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-rooms .adm-room-info .nc-error-block{
    width: 35%;
}

.nc-block .room-edit-form .adm-roomtype-container .adm-roomtype-rooms .adm-room-info .nc-error-block .nc-error-message{
    display: block;
    width: 90%;
    font-size: 12px;
    margin-left: 10px;
    color: rgb(248, 245, 53);
}

.admin-room-edit-button{
    margin: 30px 0px
}

/* Estilos Edicion Bancos */
.nc-block .bank-edit-form{
    width: 100%;
    margin:20px auto;
    background-color: RGBA(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 15px;
}

.nc-block .bank-edit-form .nc-bank-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.nc-block .bank-edit-form .nc-bank-info label{
    width:100%;
    font-size: 26px;
    line-height: 34px;
    margin-right: 5px;
    text-transform: uppercase;
    color: rgb(252, 176, 64);
    font-weight: bold;
}

.nc-block .bank-edit-form .nc-bank-info input{
    width:100%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block .bank-edit-form .nc-bank-info .nc-error-block{
    width: 100%;
}

.nc-block .bank-edit-form .nc-bank-info .nc-error-block .nc-error-message{
    display: block;
    width: 90%;
    font-size: 12px;
    margin-left: 10px;
    color: rgb(248, 245, 53);
}

/* Estilos de Disponibilidad */

.nc-block .available-form{
    width: 100%;
    margin:20px auto;
    background-color: RGBA(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 15px;
}

.nc-block .available-form .nc-available-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.nc-block .available-form .nc-available-info label{
    width:100%;
    font-size: 26px;
    line-height: 34px;
    margin-right: 5px;
    text-transform: uppercase;
    color: rgb(252, 176, 64);
    font-weight: bold;
}

.nc-block .available-form .nc-available-info input{
    width:100%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block .available-form .nc-available-info .nc-error-block{
    width: 100%;
}

.nc-block .available-form .nc-available-info .nc-error-block .nc-error-message{
    display: block;
    width: 100%;
    font-size: 12px;
    margin-left: 10px;
    color: rgb(248, 245, 53);
}

.nc-block .adm-room-avlb-textosFecha{
    font-size: 24px;
    line-height: 32px;
    margin:10px 0px
}

.nc-block .adm-room-avlb-textosFecha .adm-room-avlb-tituloFecha{
    font-weight: bold;
    color: rgb(252, 176, 64);
}

.nc-block .adm-room-avlb-textosFecha .adm-room-avlb-tituloFecha{
    font-weight: bold;
    color: rgb(252, 176, 64);
}

.nc-block .room-avlb-info{
    width: 100%;
    margin:20px auto;
    background-color: RGBA(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 15px;
}

.nc-block .room-avlb-info .adm-roomtype-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-info h2{
    width: 100%;
    font-size: 30px;
    line-height: 38px;
    color: rgb(252, 176, 64);
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-info .adm-roompending-msg{
    width: 100%;
    font-size: 15px;
    line-height: 23px;
    color: rgb(248, 245, 53);
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-info .adm-roomtype-info-price{
    display: block;
    width: 100%;
    font-size: 22px;
    line-height: 30px;
    margin-right: 5px;
    text-transform: uppercase;
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-info .adm-roomtype-info-quantity{
    display: block;
    width: 100%;
    font-size: 26px;
    line-height: 34px;
    margin-right: 5px;
    text-transform: uppercase;
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-rooms{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10px;
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-rooms .adm-room-number{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

.nc-block .room-avlb-info .adm-roomtype-container .adm-roomtype-rooms .adm-room-number label{
    width:10%;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.nc-block .room-booking-form{
    width: 80%;
    margin:20px auto;
    background-color: RGBA(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nc-block .room-booking-form .adm-booking-input{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.nc-block .room-booking-form .adm-booking-input label{
    width:100%;
    font-size: 18px;
    line-height: 26px;
    margin-right: 5px;
    text-transform: uppercase;
    color: rgb(252, 176, 64);
    font-weight: bold;
}

.nc-block .room-booking-form .adm-booking-input input{
    width:100%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block .room-booking-form .admin-booking-button{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.nc-block .room-booking-form .admin-booking-button input{
    width: 60%;
}

/* Estilos Confirmar Reservas */

.nc-block .nc-booking-confirm-booking{
    width: 100%;
    margin: 10px auto;
    background-color: RGBA(0,0,0,0.7);
    padding: 10px;
    border-radius: 10px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-booking-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-booking-header .nc-booking-confirm-code{
    width: 30%;
    color: rgb(252, 176, 64);
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-booking-header label{
    width: 30%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-booking-header a{
    height: 90%;
    width: 40%;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    padding: 5px;
    justify-content: center;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-guest{
    width: 80%;
    margin-bottom: 5px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-guest .nc-booking-confirm-guest-main{
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    line-height: 30px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-guest .nc-booking-confirm-guest-secondary{
    width: 90%;
    margin:auto;
    display: block;
    font-size: 14px;
    line-height: 22px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-people{
    width: 15%;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-people .nc-booking-confirm-people-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}
.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-people .nc-booking-confirm-people-main i{
    width: 50%;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-dates{
    width: 45%;
    margin: 5px auto;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-dates .nc-booking-confirm-dates-main{
    display: block;
    font-size: 18px;
    line-height: 26px;
    display: flex;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-dates .nc-booking-confirm-dates-main i{
    margin-right: 5px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-dates .nc-booking-confirm-dates-secondary{
    display: block;
    font-size: 14px;
    line-height: 22px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-amounts{
    width: 45%;
    margin: 5px auto;
    text-align: right;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-amounts .nc-booking-confirm-amounts-main{
    display: block;
    font-size: 20px;
    line-height: 28px;
}

.nc-block .nc-booking-confirm-booking .nc-booking-confirm-info .nc-booking-confirm-amounts .nc-booking-confirm-amounts-secondary{
    display: block;
    font-size: 16px;
    line-height: 24px;
}


/* Estilos del detalle del Booking */

.nc-block .nc-booking-info .nc-booking-info-header{
    width: 100%;
    margin: 10px auto;
    background-color: RGBA(0,0,0,0.7);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-header-guest{
    width: 100%;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-header-guest .nc-booking-guest-main{
    text-transform: uppercase;
    width: 100%;
    font-size: 26px;
    line-height: 34px;
    color: rgb(252, 176, 64);
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-header-guest .nc-booking-guest-secondary{
    width: 100%;
    margin:auto;
    display: block;
    font-size: 14px;
    line-height: 22px;
}

.bloque-main .nc-booking-info .bloque-detalle-pago .imagen-comprobante{
    width:90%;
    margin: auto;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-header-extra{
    width: 100%;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-header-extra div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0px;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-header-extra label{
    width: 45%;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-amounts{
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-amounts .nc-booking-amounts-main{
    width: 100%;
    font-size: 20px;
    line-height: 28px;
}

.nc-block .nc-booking-info .nc-booking-info-header .nc-booking-amounts .nc-booking-amounts-secondary{
    width: 100%;
    font-size: 16px;
    line-height: 24px;
}

.nc-block .nc-booking-info .nc-booking-payment-container{
    width: 100%;
    margin: 10px auto;
    background-color: RGBA(0,0,0,0.7);
    padding: 30px 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.nc-block .nc-booking-info .imagen-comprobante{
    width:90%;
    margin: auto;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.nc-block .nc-booking-info .imagen-comprobante .comprobante-imagen{
    width:100%;
    height:100%
}

.nc-block .nc-booking-info .imagen-comprobante .version-pdf{
    height: 500px;
}


.nc-block .nc-booking-info .nc-booking-rooms-container{
    width: 100%;
    margin: 10px auto;
    background-color: RGBA(0,0,0,0.7);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nc-block .nc-booking-info .nc-booking-rooms-container h2{
    text-transform: uppercase;
    width: 100%;
    font-size: 30px;
    line-height: 38px;
    color: rgb(252, 176, 64);
}

.nc-block .nc-booking-info .nc-booking-rooms-container .nc-booking-room{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nc-block .nc-booking-info .nc-booking-rooms-container h3{
    width:80%;
    font-size: 24px;
    line-height: 32px;
}

.nc-block .nc-booking-info .nc-booking-rooms-container .nc-booking-room-selector{
    width:15%;
    height: 100%;
    font-size: 18px;
    line-height: 26px;
    padding: 2px;
}

.nc-block .nc-booking-info .nc-booking-rooms-container .nc-booking-room-guests{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-size: 20px;
    line-height: 28px;
}

.nc-block .nc-booking-info .nc-booking-rooms-container .nc-booking-room-guests label{
    width: 30%;
}

.nc-block .nc-booking-info .nc-booking-rooms-container .admin-booking-confirmation-button{
    width: 90%;
    margin: 30px auto 10px auto;
}

.nc-block .nc-booking-info .admin-booking-delete-button{
    width: 50%;
    margin: 200px auto 10px auto;
}

.nc-block .nc-booking-info .admin-booking-delete-button .nc-btn-extra{
    font-size: 14px;
    line-height: 22px;
}

.nc-block .nc-booking-info .nc-booking-rooms-container .nc-error-block{
    width: 100%;
    text-align: right;
}

.nc-block .nc-booking-info .nc-booking-rooms-container .nc-error-block .nc-error-message{
    display: block;
    width: 90%;
    font-size: 12px;
    margin: 5px 0px 5px 5px;
    color: rgb(248, 245, 53);
}

.nc-block .room-booking-form .nc-booking-search{
    margin:auto;
}

/* Estilos Tablas Disponibilidad */

.nc-block .nc-ocup-container{
    width: 100%;
    margin: 10px auto;
    background-color: RGBA(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.nc-block .nc-ocup-container table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    table-layout:fixed;
}

.nc-block .nc-ocup-container th, td {
    padding:5px;
    width: 200px;
    height: 50px;
    min-width: 100px;
    min-height: 100px;
}

/* Estilos Huespedes del Dia */

.nc-block .nc-guests-list{
    width: 100%;
    margin: 10px auto;
    background-color: RGBA(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.nc-block .nc-guests-list .nc-guests-list-guest{
    width: 100%;
    font-size: 20px;
    line-height: 38px;
}

.nc-block .nc-guests-list .nc-guests-list-guest .nc-guests-list-room-num{
    text-decoration: underline;
    font-style:oblique;
    margin-right: 10px;
}

/* Estilos Reservar Habitacion*/
.nc-block .nc-reservar-form{
    width: 100%;
    margin:20px auto;
    background-color: RGBA(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nc-block .nc-reservar-form .nc-reservar-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nc-block .nc-reservar-form .nc-reservar-input{
    width: 100%;
    margin: 5px 0px;
    display: flex;
    flex-wrap: wrap;
}

.nc-block .nc-reservar-form .nc-reservar-conteiner .nc-reservar-input{
    width: 45%;
}

.nc-block .nc-reservar-form .nc-reservar-input label{
    width:100%;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: rgb(252, 176, 64);
    font-weight: bold;
}

.nc-block .nc-reservar-form .nc-reservar-input input{
    width:100%;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block .nc-reservar-form .nc-reservar-input select{
    width:20%;
    font-size: 14px;
    line-height: 22px;
    padding: 5px;
    border-radius: 10px;
}

.nc-block .nc-reservar-form .admin-booking-button{
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
