<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-content-brand">
        <a href="#" class="logo">
          <img class="logo-image" src="./images/logo-foot.png" alt="">
        </a>
        <div class="paragraph">
          Somos un hotel moderno nacido en 2001 atendido por sus propios dueños y situado en el mejor lugar de Puerto Madryn, frente al mar y a solo 1.5 km del centro de la ciudad<br><br>
          Boulevard Brown 2057 - Puerto Madryn, Chubut, Argentina<br>
		  TEL: (0280) 4458822<br>
          TEL/WHATSAPP: (0280) 4208042<br>
			WHATSAPP: +54 9 (0280) 4200010<br>
          <p style="font-weight:bold"><a href="mailto:solar@solardelacosta.com">solar@solardelacosta.com</a></p>
        </div>
      </div>
      <div class="social-media-wrap">
        <h4 class="footer-heading" style="margin-left:2rem">Seguinos!

          <div class="social-media">
            <a href="https://twitter.com/de_hosteria" class="sm-link" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/solardelacostapm" class="sm-link" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/solardelacosta/" class="sm-link" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tripadvisor.com.ar/Hotel_Review-g312832-d1051527-Reviews-Hosteria_Solar_de_la_Costa-Puerto_Madryn_Province_of_Chubut_Patagonia.html" class="sm-link" target="_blank"><i class="fab fa-tripadvisor"></i></a>
			      <a href="https://wa.me/5492804200010" class="sm-link" target="_blank"><i class="fab fa-whatsapp"></i></a>  
          </div>
        </h4>
      </div>
    </div>
  </div>
  <% if(locals.adminLogged){ %>
    <div class="nc-admin-loggin-container">
      <a href="/admin/menu" class="nc-login-link">
        <i class="fas fa-bars"></i>Menu Administración
      </a>
    </div>
    <div class="nc-admin-loggin-container">
      <a href="/admin/logOut" class="nc-login-link">
        <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
      </a>
    </div>
  <% } else { %>
    <div class="nc-admin-loggin-container">
      <a href="/admin/login" class="nc-login-link">
        <i class="fas fa-sign-in-alt"></i>Ingreso Admin
      </a>
    </div>
   <% } %>
  
</footer>

<div class="ucs">Copyright 2025 - Nicolás Calviño - </div>



  <script src="/js/main.js"></script>
</body>
</html>