<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hosteria Solar de la Costa</title>
    <!--Font awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="<%= hojaDeEstilo %>">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="https://www.solardelacosta.com/index.html" class="logo">
        <img src="/images/logo-4.png">
      </a>
      <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/index.html" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/reservas.html" class="nav-link">RESERVAS</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/habitaciones.html" class="nav-link">HABITACIONES</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/madryn.html" class="nav-link">MADRYN</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/index.html#contactos" class="nav-link">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a href="https://www.solardelacosta.com/reservas-en.html" class="nav-link"><img src="images/uk-en.jpg" alt="english version"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>