<%- include('../partials/header',{hojaDeEstilo:"/css/stylesBookings.css"}) %>
<div class="hero nc-timbre-tris" id="reserva-timbre">
    <div class="container">
        <div class="main-heading">
            <h1 class="title-res nc-titulo-pagina">Informar Seña</h1>
            <div class="nc-block">
                <form action="/paymentUpload" class="form" method="POST">
                    <div>
                        <label for="booking_code">Codigo de Reserva</label>
                        <input type="text" id="booking_code" name="booking_code">
                    </div>
                    <div>
                        <label for="booking_code">E-Mail Reserva</label>
                        <input type="text" id="booking_code" name="booking_code">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  <section class="booking">
  </section>
</main>
<%- include('../partials/footer') %>